<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0ck4uOhmv4b2c1yiEaBzW8TmPC8wgi7o</string>
	<key>GCM_SENDER_ID</key>
	<string>6854240262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.googleMapDemo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>map-demo-cc20f</string>
	<key>STORAGE_BUCKET</key>
	<string>map-demo-cc20f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6854240262:ios:c693b1872974884edb3b87</string>
</dict>
</plist>